<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button{
            color:blue;
            background-color: antiquewhite;
            font-size: 62px;
        }
    </style>

</head>
<body>
    welcome to the index page
    <br>

    <a class="button" href="/all_emp" role="button">All Employee </a>
    <hr>

    <a class="button" href="/add_emp" role="button">Add An employee</a>
    <hr>
    <a class="button" href="/remove_emp" role="button">Remove An employee</a>
    <hr>
    <a class="button" href="/filter_emp" role="button" >Filter An Employee</az>
</body>
</html>